<div class="card">
  <div class="card-header">
    <h3>User List</h3>
  </div>
  <div class="card-body">
    <table class="table table-primary table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Block</th>
          <th>Unblock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            zhangsan
          </td>
          <td>
            <button type="button" class="btn btn-danger">Block</button>
          </td>
          <td>
            <button type="button" class="btn btn-success">Unblock</button>
          </td>
        </tr>
        <tr>
          <td scope="row">
            lisi
          </td>
          <td>
            <button type="button" class="btn btn-danger">BLock</button>
          </td>
          <td>
            <button type="button" class="btn btn-success">Unblock</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>