<ul class="list-group">
  <li class="list-group-item">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">Name of Mentor</span>
      </div>
      <input type="text" class="form-control" placeholder="Name" readonly>
    </div>
  </li>
  <li class="list-group-item">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">Years of Experience</span>
      </div>
      <input type="text" class="form-control" placeholder="Years of Experience" readonly>
    </div>
  </li>
  <li class="list-group-item">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">No. of trainings delivered in total</span>
      </div>
      <input type="text" class="form-control" placeholder="No. of trainings delivered in total" readonly>
    </div>
  </li>
  <li class="list-group-item">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">in specific technology</span>
      </div>
      <input type="text" class="form-control" placeholder="in specific technology" readonly>
    </div>
  </li>
  <li class="list-group-item">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">Fee charged</span>
      </div>
      <input type="text" class="form-control" placeholder="Fee charged" readonly>
    </div>
  </li>
  <li class="list-group-item">
    <div class="leftArea">
      <input class="btn btn-dark" type="button" value="Back" (click)="maskOff()">
    </div>
    <div class="rightArea">
      <input name="" id="" class="btn btn-primary" type="button" value="Propose">
    </div>
  </li>
</ul>