<div class="container">
  <div class="d-flex justify-content-center h-100">
      <div class="card">
          <div class="card-header">
              <h3>Sign Up</h3>
          </div>
          <div class="card-body">
              <form>
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">working time start</span>
                      </div>
                      <input type="datetime-local" class="form-control" placeholder="working time start" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">working time end</span>
                    </div>
                    <input type="datetime-local" class="form-control" placeholder="working time end" required>
                  </div>
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">list of technologies</span>
                      </div>
                      <input type="text" class="form-control" placeholder="list of technologies split by comma" required>
                  </div>
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">facilities provided - material</span>
                      </div>
                      <input type="file" class="form-control" placeholder="facilities provided - material" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">examples/cloud labs</span>
                    </div>
                    <input type="url" class="form-control" placeholder="examples/cloud labs" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">email verification</span>
                    </div>
                    <input type="number" class="form-control" placeholder="email verification" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">linkedin URL</span>
                    </div>
                    <input type="url" class="form-control" placeholder="linkedin URL" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">mentor profile</span>
                    </div>
                    <input type="file" class="form-control" placeholder="mentor profile" required>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">number of years of experience</span>
                    </div>
                    <input type="number" class="form-control" placeholder="number of years of experience" required>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        <span class="input-check">By Clicking register you're agree to our policy & terms</span>
                    </label>
                  </div>
                  <div>
                      <div class="form-group">
                          <input type="submit" value="Sign Up" class="btn float-left login_btn">
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>